trigger:
  - '*'
  
pool:
  vmImage: 'ubuntu-18.04'
  demands:
  - npm

variables:
  buildConfiguration: 'Release'
  wwwrootDir: 'Tailspin.SpaceGame.Web/wwwroot'
  dotnetSdkVersion: '3.1.300'

steps:
- task: PythonScript@0
  inputs:
    scriptSource: 'inline'
    script: 'print(''hello '' + sys.argv[0])'
    arguments: 'asd'