trigger:
  - '*'
  
pool:
  vmImage: 'ubuntu-18.04'
  demands:
  - npm


steps:
- task: PythonScript@0
  inputs:
    scriptSource: 'inline'
    script: |
      import sys
      print('hello ' + sys.argv[0])
    arguments: 'asd'